html {
	font-size: 16px;
}

body {
	margin: 0;
}

h1 {
	margin-top: 0;
}

ul {
	padding-left: 0px;
	list-style: none;
}

.navbar {
	display: flex;
	justify-content: space-between;
}

.navbar-links {
	display: flex;
	justify-content: space-between;
	gap: 1em;
}

.form-container {
	width: 25%;
	margin: 0 auto;
	border: 1px solid red;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.form-label-input-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5em;
}

.auth-form {
	width: 50%;
}

#submit-button {
	width: 100%;
	background-color: blue;
	color: #fff;
	border-radius: 1em;
	border: black 2px solid;
	font-size: 1em;
}

#submit-button:active {
	width: 105%;
	background-color: green;
}